@import '../helps/variables.scss';
@mixin tag($width,$height){
    background: #ccc;
    width: $width;
    height: $height;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: $height;
    margin-right: 10px;
    text-align: center;
    float: left;
    margin-bottom: 8px;
    display: inline-block;
}
@mixin logo($width,$height,$top){
    background: url(../images/logo.png) no-repeat;
    width: $width;
    height: $height;
    display: block;
    z-index: 2;
    margin:$top auto;
}
@mixin top-nav{
    position: absolute;
    right: 13px;
    top: 10px;
    width: 220px;
    height: 30px;
    line-height: 32px;
    background: $urlImg no-repeat;
}